@model ApplicationCore.Entities.Supplier

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Supplier Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Suppliers", new { id = Model.Id })" class="btn btn-success">
        <i class="glyphicon-glyphicon-pencil"></i>
        Edit
    </a>
    <a href="@Url.Action("Index", "Suppliers")" class="btn btn-primary">
        <i class="glyphicon-glyphicon-menu-left"></i>
        Back to Supplier List
    </a>
</p>
