@model IEnumerable<ApplicationCore.Entities.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12">
    <p>
        <a href="@Url.Action("Create", "Suppliers")" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i>
            New Supplier
        </a>
    </p>
    <div class="card">

        <div class="header">
            <h4 class="title">Supplier List</h4>

        </div>

        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                <th style="width: 25%; text-align: center"> @Html.DisplayNameFor(model => model.CompanyName)</th>
                <th style="width: 10%;text-align: center">@Html.DisplayNameFor(model => model.ContactPerson)</th>
                <th style="width: 10%;text-align: center">@Html.DisplayNameFor(model => model.ContactInfo)</th>
                <th style="width: 10%;text-align: center"> @Html.DisplayNameFor(model => model.EmailAdd)</th>
                <th style="text-align: center">Actions</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactPerson)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactInfo)
                            </td>
                            <td align="right">

                                @Html.DisplayFor(modelItem => item.EmailAdd)
                            </td>


                            <td class="td-actions text-right">

                                <a href="@Url.Action("Edit", "Suppliers", new { id = item.Id })" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-sm">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="@Url.Action("Details", "Suppliers" , new { id=item.Id })" rel="tooltip" title="Detail" class="btn btn-success btn-simple btn-xs">
                                    <i class="glyphicon glyphicon-file"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Suppliers", new { id = item.Id })" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
                                    <i class="fa fa-times"></i>
                                </a>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
