@model ApplicationCore.Entities.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Employee Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

    </dl>
</div>
<p>

    <a href="@Url.Action("Edit", "Employees", new { id = Model.Id })" class="btn btn-success">
        <i class="glyphicon-glyphicon-pencil"></i>
        Edit
    </a>
    <a href="@Url.Action("Index", "Employees")" class="btn btn-primary">
        <i class="glyphicon-glyphicon-menu-left"></i>
        Back to Customer List
    </a>

</p>
